@{
    ViewBag.Title = "About";
}
<!--
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    </main>
            -->

<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">About Us</h2>
                <p class="text-secondary mb-5 text-center lead fs-4">Our mission at Patient Vault is to provide a secure and convenient platform for patients to manage their health information. We understand the importance of having access to accurate and up-to-date medical records, and we're committed to making that process easier for you. </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row gy-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6">
                <!-- <img class="img-fluid rounded border border-dark" loading="lazy" src="C:\Users\52470252\Desktop\code.jpg" alt="About Us"> -->
                <img class="img-fluid rounded border border-dark" loading="lazy" src="@Url.Content("~/Content/cod.jpeg")" alt="About Us">
            </div>
            <div class="col-12 col-lg-6 col-xxl-6">
                <div class="row justify-content-lg-end">
                    <div class="col-12 col-lg-11">
                        <div class="about-wrapper">
                            <p class="lead mb-4 mb-md-5">Our website utilizes the latest ASP.NET technology to ensure that your sensitive patient data is protected and stored safely in an XML file.</p>
                            <div class="row gy-4 mb-4 mb-md-5">
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">20+</h3>
                                            <p class="fw-bold text-center m-0">Qualified Experts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="card border border-dark">
                                        <div class="card-body p-4">
                                            <h3 class="display-5 fw-bold text-primary text-center mb-2">100k+</h3>
                                            <p class="fw-bold text-center m-0">Satisfied Patients</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
    <a href="Index.cshtml" class="btn btn-primary bsb-btn-2xl">
        Explore
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
        </svg>
    </a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/bsb-btn-size/bsb-btn-size.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/margin/margin.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/utilities/padding/padding.css">